.CSVDetails{
    background-color: #00000029!important;
    #myTable_wrapper{
        max-height: 80vh!important;
        table tr{
            background-color: #ffffff33!important;
        }
    }
    h3{
        color: #e56868;
        text-shadow: -8px 3px 15px #0000007a;
        font-family: cursive;
    }
}