body {
  width: 100%;
  height: 100vh;
  background-image: url("../images/CsvBackground.jpg");
  background-size: inherit;
  background-position: center;
  background-repeat: no-repeat; }
  body .dataTables_wrapper {
    overflow: scroll; }
